.git
.github
.idea
.docs
docker/php
docker/nginx
docker-compose*.yml
Makefile
README.md
LICENSE

backend/vendor
backend/var
backend/tests
backend/.env.local
backend/.env.*.local
backend/.env.test
backend/phpunit.dist.xml
backend/phpstan.dist.neon
backend/.php-cs-fixer.dist.php
backend/.php-cs-fixer.cache
backend/public/bundles

frontend/node_modules
frontend/dist
